@import url('https://fonts.cdnfonts.com/css/evil-empire');
*{
    font-family: 'Evil Empire', sans-serif;
}

nav{
    font-size: 25px;
    margin: 40px 20px 0px 20px;
}
.items-nav{
 display: contents;
}
.nav-item{
    margin-left: 20px;
    margin-top: 25px;
}
nav a:hover{
    color: red;
}

.home{
    font-size: 40px;
}

@media screen and (max-width: 810px){
    .home{
        font-size: 30px;
    }
    .items-nav{
        display: flex;
        justify-content: center;
    }
    .navbar-collapse{
        position: absolute;
        left: 0;
        margin-top: 42px;
        background-color: black;
        height: auto;
        text-align: right;
        width: 100%;
        padding: 10px 45px 10px 0px;
        z-index: 1;
    }.nav-link{
        color: white;
    }.nav-link:hover{
        color: red;
    }
  }

