*{
    margin: 0px;
    padding: 0px;
}

h1{
    margin-top: 20px;
}

body{
    background-image: url(./assets/img/backgroundDos.jpeg);
    background-color: black;
    background-size: cover; 
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

